{% extends "app/base2.html" %}
{% load static %}
{% load humanize %}
<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title></title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="">
	</head>
	<body>
		{% block cart_content %}
		<div class="container my-5">
			<h2 class="mb-4">🛒 Giỏ hàng của bạn</h2>
			<form action="{% url 'checkout' %}" method="POST">
					{% csrf_token %}
				
				<table class="table table-bordered align-middle text-center">
					<thead class="table-light">
						<tr>
							<th><input type="checkbox" id="selectAll" /></th> <!-- Checkbox for all -->
							<th>Hình ảnh</th>
							<th>Sản phẩm</th>
							<th>Màu</th>
							<th> Size</th>
							<th>Giá</th>
							<th>Số lượng</th>
							<th>Xóa</th>
							<th>Tổng</th>
						</tr>
					</thead>
					<tbody id="cartItems">
						{% for item in items %}
						<tr>
							<td><input type="checkbox" class="itemCheckbox" name="selected_products" value="{{ item.product.id }}" /></td> 
							<td><img class="img-fluid product-img" src="{{ item.product.ImageURL }}" class="img-fluid" /></td>
							<td> {{ item.product.name }} </td>
							<td > <div style="width: 30px; height: 30px; background-color: {{ item.color.code }}; border: 1px solid #ccc; margin:0 auto;"></div> </td>
							<td>{{ item.size.name }}</td>
							<td> {{ item.product.price|intcomma }}đ</td>
							<td>
								<div class="input-group justify-content-center">
									<button data-product="{{ item.product.id }}" 
									data-size="{{ item.size.id }}" 
									data-color="{{item.color.id}}"
									type="button" 
									data-action="remove" 
									class="btn-decrease chg-quantity update-cart btn btn-outline-secondary btn-sm">-</button>
									<input type="number" min="0" class="form-control text-center mx-1" style="width: 50px;" name="quantity_{{ item.product.id }}" value="{{ item.quantity }}">
									<button data-product="{{ item.product.id }}" 
									data-size="{{ item.size.id }}"  
									data-color="{{item.color.id}}"
									data-action="add" 
									type="button" 
									class="btn-increase chg-quantity update-cart btn btn-outline-secondary btn-sm">+</button>
								</div>
							</td>
							<td>
								<button type="button" 
									class="btn btn-danger btn-sm remove-from-cart" 
									data-product="{{ item.product.id }}" 
									data-size="{{ item.size.id }}"
									data-color="{{item.color.id}}">
									
									✖
								</button>
							</td>
							<td> {{ item.get_total|intcomma }} </td>
						</tr>
						{% endfor %}
					</tbody>
					<tfoot>
						<tr>
							<td colspan="8" class="text-end">Tổng số lượng:</td>
							<td id="totalQuantity" name="total_sanpham">0</td>
							
						</tr>
						<tr>
							<td colspan="8" class="text-end">Tổng tiền:</td>
							<td id="totalPrice" name="total_gia">0đ</td>
						</tr>
					</tfoot>
					
							
				</table>
				
					
					<div class="d-flex align-items-end justify-content-end">
					<input type="hidden" name="cart_data" value="" />
					<button type="submit" class="btn btn-primary" id="buyNow" style="background-color:#1e3a1d">
						Mua hàng
					</button>
					</div>
			</form>
		</div>
		
		<script src="{% static 'app/js/cart_ui.js' %}" ></script>
		<script src="{% static 'app/js/cart.js' %}" ></script>
		<script src="{% static 'app/js/cart_delete.js' %}" ></script>
		

		{% endblock cart_content %}
	</body>
</html>