{% extends "app/base2.html" %}
{% load static %}
{% load humanize %}


<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    
  </head>
<body>
  {% block banner_slider %}
    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel" >
      <div class="carousel-inner" >
        <div class="carousel-item active"data-bs-interval="4000">
          <img src="{% static "app/images/banner/banner1.png" %}" class="d-block w-100" alt="..." height='600'>
        </div>
        <div class="carousel-item"data-bs-interval="4000">
          <img src="{% static "app/images/banner/banner2.png" %}" class="d-block w-100" alt="..."height='600'>
        </div>
        <div class="carousel-item"data-bs-interval="4000">
          <img src="{% static "app/images/banner/banner3.webp" %}" class="d-block w-100" alt="..."height='600'>
        </div>
        <div class="carousel-item"data-bs-interval="4000">
          <img src="{% static "app/images/banner/banner4.png" %}" class="d-block w-100" alt="..."height='600'>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  {% endblock banner_slider %}

  {% block main_content %}

    <div class="container my-5">
        <!-- Tiêu đề -->
        
        <div class="category-menu">
          <span id="tab-new"  onclick="showProducts('new')">Hàng mới</span>
          <span id="tab-2024" class="active" onclick="showProducts('2024')">Xuân Hè 2025 </span>
        </div>
      
        <div id="new" class="product-list " >
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 gx-6 ">
            {% for product in page_obj_new %}
            <div class="col-4">
              <div class="card border-0 position-relative" >
                <!-- Ảnh sản phẩm -->
                <div class="product-image position-relative">
                  <img src="{{product.ImageURL}}" class="card-img-top" alt="{{ product.name }}">
                  
                 
                  <div class="overlay position-absolute bottom-0 start-0 w-100 d-flex justify-content-center p-3">
                   
                    <a href="{% url 'product_detail' product_id=product.id %}" class="btn btn-success" style="background-color:#1e3a1d">Xem chi tiết</i></a>
                    
                    <button type="button"class="btn btn-success" style="background-color:#1e3a1d" data-bs-toggle="modal" data-bs-target="#sizeModal_new{{ product.id }} ">
                      Thêm vào  <i class="fa-solid fa-cart-plus "></i>
                    </button>
                  </div>
                </div>
                
                <div class="card-body text-center">
                  <p class="mb-1">{{ product.name }}</p>
                  <div class="text-danger fw-bold">{{ product.price|intcomma}}đ</div>
                </div>
              </div>
            </div>
            <div class="modal fade" id="sizeModal_new{{ product.id }}" tabindex="-1" aria-labelledby="sizeModalLabel{{ product.id }}" aria-hidden="false">
              <div class="modal-dialog modal-sm">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="sizeModalLabel{{ product.id }}"> {{ product.name }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Đóng"></button>
                  </div>
                  <div class="modal-body">
                    
                    <div class="mb-3">
                    
                      <label for="sizeSelect{{ product.id }}" class="form-label">Size</label>
                     
                        <div class="mb-3">
                          
                          <div class="btn-group w-100" role="group" aria-label="Chọn size">
                            <!-- Size S -->
                            <input type="radio" class="btn-check" name="size{{ product.id }}" id="sizeS{{ product.id }}" value="{{ product.size_S }}" checked>
                            <label class="btn btn-outline-primary" for="sizeS{{ product.id }}">S</label>

                            <!-- Size M -->
                            <input type="radio" class="btn-check" name="size{{ product.id }}" id="sizeM{{ product.id }}" value="{{ product.size_M }}" >
                            <label class="btn btn-outline-primary" for="sizeM{{ product.id }}">M</label>

                            <!-- Size L -->
                            <input type="radio" class="btn-check" name="size{{ product.id }}" id="sizeL{{ product.id }}" value="{{ product.size_L }}" >
                            <label class="btn btn-outline-primary" for="sizeL{{ product.id }}">L</label>

                            <!-- Size XL -->
                            <input type="radio" class="btn-check" name="size{{ product.id }}" id="sizeXL{{ product.id }}" value="{{ product.size_XL }}" >
                            <label class="btn btn-outline-primary" for="sizeXL{{ product.id }}">XL</label>
                          </div>
                        </div>

                        <div class="mb-3">
                          <label class="form-label">Màu sắc</label>
                          <div class="d-flex gap-2">
                            {% for color in product.color_list %}
                              <input type="radio" class="btn-check"
                                    name="color{{ product.id }}"
                                    id="color{{ color.id }}{{ product.id }}"
                                    value="{{ color.id }}"
                                    {% if not color.has_stock %}disabled{% endif %}
                                    {% if forloop.first %}checked{% endif %}>
                              <label 
                                class="rounded-circle border border-2 color-option"
                                style="
                                  width: 30px; 
                                  height: 30px; 
                                  background-color: {{ color.code }}; 
                                  cursor: pointer;
                                  {% comment %} {% if not color.has_stock %} opacity: 0.4; {% endif %} {% endcomment %}
                                "
                                for="color{{ color.id }}{{ product.id }}"
                                title="{{ color.name }}">
                              </label>
                            {% endfor %}
                          </div>
                        </div>
                    </div>
                  
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-primary update-cart" data-product="{{ product.id }}" data-action="add" data-bs-dismiss="modal" data-area="new">Thêm</button>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
            {# 2) Chèn ô trống #}
            {% for _ in blanks_new %}
              <div class="col"><!-- placeholder: để giữ đúng khoảng trống --></div>
            {% endfor %}
            </div>
            
          {% comment %} phan trang {% endcomment %}
          {% if page_obj_new.has_other_pages %}
          <nav aria-label="page navigation">
            <ul class="pagination justify-content-center mt-4">
              {% if page_obj_new.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="?page_new={{page_obj_new.previous_page_number}}">&laquo;</a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <span class="page-link">&laquo;</span>
                </li>
          
          {% endif %}

          {% comment %} so trang {% endcomment %}
          {% for num in page_obj_new.paginator.page_range %}
              {% if page_obj_new.number == num %}
                <li class="page-item active"><span class="page-link">{{ num }}</span></li>
              {% elif num >= page_obj_new.number|add:'-2' and num <= page_obj_new.number|add:'2' %}
                <li class="page-item">
                  <a class="page-link" href="?page_new={{ num }}">{{ num }}</a>
                </li>
              {% endif %}
            {% endfor %}
          
          {% if page_obj_new.has_next %}
              <li class="page-item">
                <a class="page-link" href="?page_new={{ page_obj_new.next_page_number }}">&raquo;</a>
              </li>
            {% else %}
              <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
            {% endif %}
          </ul>
        </nav>
        {% endif %}
    </div>



    <div id="2024" class="product-list active">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3">
        {% for product in page_obj_2024 %}
        <div class="col">
          <div class="card border-0 position-relative">
            
            
            
            <div class="product-image position-relative">
              <img src="{{product.ImageURL}}" class="card-img-top" alt="{{ product.name }}">
              
              <!-- Thêm nút Xem chi tiết và Thêm vào giỏ hàng khi hover -->
              <div class="overlay position-absolute bottom-0 start-0 w-100 d-flex justify-content-center p-3">
                <!-- Xem chi tiết -->
                <a href="{% url 'product_detail' product_id=product.id %}" class="btn btn-success" style="background-color:#1e3a1d">Xem chi tiết</i></a>
                <!-- Thêm vào giỏ hàng -->
                <button type="button"class="btn btn-success" style="background-color:#1e3a1d" data-bs-toggle="modal" data-bs-target="#sizeModal_2024{{ product.id }}">Thêm vào  <i class="fa-solid fa-cart-plus"></i></button>
              </div>
            </div>
            
            <div class="card-body text-center">
              <p class="mb-1">{{ product.name }}</p>
              <div class="text-danger fw-bold">{{ product.price|intcomma}}đ</div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="sizeModal_2024{{ product.id }}" tabindex="-1" aria-labelledby="sizeModalLabel{{ product.id }}" aria-hidden="true">
              <div class="modal-dialog modal-sm">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="sizeModalLabel{{ product.id }}"> {{ product.name }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Đóng"></button>
                  </div>
                  <div class="modal-body">
                    <div class="mb-3">
                      <label for="sizeSelect{{ product.id }}" class="form-label">Size</label>
                      
                        <div class="mb-3">
                          
                          <div class="btn-group w-100" role="group" aria-label="Chọn size">
                            <!-- Size S -->
                            <input type="radio" class="btn-check" name="size{{ product.id }}" id="sizeS{{ product.id }}" value="{{ product.size_S }}" checked>
                            <label class="btn btn-outline-primary" for="sizeS{{ product.id }}">S</label>

                            <!-- Size M -->
                            <input type="radio" class="btn-check" name="size{{ product.id }}" id="sizeM{{ product.id }}" value="{{ product.size_M }}" >
                            <label class="btn btn-outline-primary" for="sizeM{{ product.id }}">M</label>

                            <!-- Size L -->
                            <input type="radio" class="btn-check" name="size{{ product.id }}" id="sizeL{{ product.id }}" value="{{ product.size_L }}" >
                            <label class="btn btn-outline-primary" for="sizeL{{ product.id }}">L</label>

                            <!-- Size XL -->
                            <input type="radio" class="btn-check" name="size{{ product.id }}" id="sizeXL{{ product.id }}" value="{{ product.size_XL }}" >
                            <label class="btn btn-outline-primary" for="sizeXL{{ product.id }}">XL</label>
                          </div>
                        </div>

                        <div class="mb-3">
                          <label class="form-label">Màu sắc</label>
                          <div class="d-flex gap-2">
                            {% for color in product.color_list %}
                              <input type="radio" class="btn-check"
                                    name="color{{ product.id }}"
                                    id="color{{ color.id }}{{ product.id }}"
                                    value="{{ color.id }}"
                                    
                                    {% if forloop.first %}checked{% endif %}>
                              <label 
                                class="rounded-circle border border-2 color-option"
                                style="
                                  width: 30px; 
                                  height: 30px; 
                                  background-color: {{ color.code }}; 
                                  cursor: pointer;
                                  
                                "
                                for="color{{ color.id }}{{ product.id }}"
                                title="{{ color.name }}">
                              </label>
                            {% endfor %}
                          </div>
                        </div>

                    </div>
                    
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-primary update-cart" data-product="{{ product.id }}" data-action="add" data-bs-dismiss="modal" data-area="2024">Thêm</button>
                  </div>
                </div>
              </div>
            </div>
        {% endfor %}
        {# 2) Chèn ô trống #}
        {% for _ in blanks_2024 %}
          <div class="col"><!-- placeholder: để giữ đúng khoảng trống --></div>
        {% endfor %}
        
        </div>
      {% comment %} phan trang {% endcomment %}
      {% if page_obj_2024.has_other_pages %}
      <nav aria-label="page navigation">
        <ul class="pagination justify-content-center mt-4">
          {% if page_obj_2024.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page_2024={{page_obj_2024.previous_page_number}}">&laquo;</a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <span class="page-link">&laquo;</span>
            </li>
      
      {% endif %}

      {% comment %} so trang {% endcomment %}
      {% for num in page_obj_2024.paginator.page_range %}
          {% if page_obj_2024.number == num %}
            <li class="page-item active"><span class="page-link">{{ num }}</span></li>
          {% elif num >= page_obj_2024.number|add:'-2' and num <= page_obj_2024.number|add:'2' %}
            <li class="page-item">
              <a class="page-link" href="?page_2024={{ num }}">{{ num }}</a>
            </li>
          {% endif %}
        {% endfor %}
      
      {% if page_obj_2024.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page_2024={{ page_obj_2024.next_page_number }}">&raquo;</a>
          </li>
        {% else %}
          <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
        {% endif %}
      </ul>
    </nav>
    {% endif %}
    </div>
    </div>
    <!-- Banner nhỏ -->
    <div class="container-fluid px-0 my-5">
      <div class="text-center">
        <img src="{% static "app/images/banner/bannernho1.webp" %}" alt="Banner nhỏ" class="img-fluid" style="max-width: 1256px; height: 400px; object-fit: cover;">
      </div>
    </div>

    <!-- Khoảng trắng -->
    <div style="height: 50px;"></div>

    <!-- Bộ sưu tập -->
    <div class="container">
      <!-- Tiêu đề bộ sưu tập -->
      <div class=" text-center py-2 mb-4" >
        <h4 class="m-0 text-uppercase">Bộ sưu tập nổi bật</h4>
      </div>

      <!-- Lưới 4 ô -->
      <div class="container my-5">
      <div class="row row-cols-1 row-cols-md-4 g-4">
        <!-- Item 1 -->
        <div class="col">
          <div class="position-relative collection-item overflow-hidden">
            <img src="{% static 'app/images/DAUCOLOGO.jpeg' %}" class="img-fluid w-100 h-100 object-fit-cover" alt="đồ thể thao">
            <div class="collection-overlay d-flex justify-content-between align-items-center px-3">
              <a href="{% url 'category' %}?category=bst-hoai-niem" class="arrow-link " >
                <span class="text-dark fw-bold">BST hoài niệm</span>
                <span class="btn btn-light btn-sm rounded-circle" style="margin-left : 100px">
                  <i class="bi bi-arrow-right"></i>
                </span>
              </a>
            </div>
          </div>
        </div>

        <!-- Item 2 -->
        <div class="col">
          <div class="position-relative collection-item overflow-hidden">
            <img src="{% static 'app/images/bstchilllax.jpg' %}" class="img-fluid w-100 h-100 object-fit-cover" alt="BST chillax">
            <div class="collection-overlay d-flex justify-content-between align-items-center px-3">
              <a href="{% url 'category' %}?category=bst-chillax" class="arrow-link " >
                <span class="text-dark fw-bold">BST Chillax</span>
                <span class="btn btn-light btn-sm rounded-circle" style="margin-left : 100px">
                  <i class="bi bi-arrow-right"></i>
                </span>
              </a>
            </div>
          </div>
        </div>

        <!-- Item 3 -->
        <div class="col">
          <div class="position-relative collection-item overflow-hidden">
            <img src="{% static 'app/images/lifeinthecity.jpg' %}" class="img-fluid w-100 h-100 object-fit-cover" alt="life in the city">
            <div class="collection-overlay d-flex justify-content-between align-items-center px-3">
              <a href="{% url 'category' %}?category=life-in-the-city" class="arrow-link " >
                <span class="text-dark fw-bold" style="margin-right : 80px">Life in the city</span>
                <span class="btn btn-light btn-sm rounded-circle" >
                  <i class="bi bi-arrow-right"></i>
                </span>
              </a>
            </div>
          </div>
        </div>

        <!-- Item 4 -->
        <div class="col">
          <div class="position-relative collection-item overflow-hidden">
            <img src="{% static 'app/images/beliveinyourself.jpg' %}" class="img-fluid w-100 h-100 object-fit-cover" alt="belive in yourself">
            <div class="collection-overlay d-flex justify-content-between align-items-center px-3">
              <a href="{% url 'category' %}?category=belive-in-yourself" class="arrow-link " >
                <span class="text-dark fw-bold" style="margin-right : 80px">Belive in yourself </span>
                <span class="btn btn-light btn-sm rounded-circle" >
                  <i class="bi bi-arrow-right"></i>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container px-0 my-5">
      <div class="text-center">
        <img src="{% static "app/images/banner/bannernho2.webp" %}" alt="Banner nhỏ" class="img-fluid" style="max-width: 1256px; height: 400px; object-fit: cover;">
      </div>
    </div>

    <div class="container">
      <!-- Tiêu đề bộ sưu tập -->
      <div class=" text py-2 mb-4" >
        <h4 class="m-0 text-uppercase">Tất cả sản phẩm</h4>
      </div>
      <!-- hien thi tat ca san pham-->
      <div >
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
              {% for product in page_obj_all %}
              <div class="col">
                <div class="card border-0 position-relative" >
                  <div class="product-image position-relative">
                    <img src="{{product.ImageURL}}" class="card-img-top" alt="{{ product.name }}">
                    
                    <!-- Thêm nút Xem chi tiết và Thêm vào giỏ hàng khi hover -->
                    <div class="overlay position-absolute bottom-0 start-0 w-100 d-flex justify-content-center p-3">
                      <!-- Xem chi tiết -->
                      <a href="{% url 'product_detail' product_id=product.id %}" class="btn btn-success" style="background-color:#1e3a1d">Xem chi tiết</a>
                      <!-- Thêm vào giỏ hàng -->
                      <button type="button"class="btn btn-success" style="background-color:#1e3a1d" data-bs-toggle="modal" data-bs-target="#sizeModal_all{{ product.id }}">Thêm vào  <i class="fa-solid fa-cart-plus"></i></button>
                    </div>
                  </div>
                  
                  <div class="card-body text-center">
                    <p class="mb-1">{{ product.name }}</p>
                    <div class="text-danger fw-bold">{{ product.price|intcomma}}đ</div>
                  </div>
                </div>
              </div>
              <div class="modal fade" id="sizeModal_all{{ product.id }}" tabindex="-1" aria-labelledby="sizeModalLabel{{ product.id }}" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="sizeModalLabel{{ product.id }}">Chọn size - {{ product.name }}</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Đóng"></button>
                    </div>
                    <div class="modal-body">
                      <div class="mb-3">
                        <label for="sizeSelect{{ product.id }}" class="form-label">Size</label>
                        
                          <div class="mb-3">
                            
                            <div class="btn-group w-100" role="group" aria-label="Chọn size">
                            <!-- Size S -->
                            <input type="radio" class="btn-check" name="size{{ product.id }}" id="sizeS{{ product.id }}" value="{{ product.size_S }}" checked>
                            <label class="btn btn-outline-primary" for="sizeS{{ product.id }}">S</label>

                            <!-- Size M -->
                            <input type="radio" class="btn-check" name="size{{ product.id }}" id="sizeM{{ product.id }}" value="{{ product.size_M }}" >
                            <label class="btn btn-outline-primary" for="sizeM{{ product.id }}">M</label>

                            <!-- Size L -->
                            <input type="radio" class="btn-check" name="size{{ product.id }}" id="sizeL{{ product.id }}" value="{{ product.size_L }}" >
                            <label class="btn btn-outline-primary" for="sizeL{{ product.id }}">L</label>

                            <!-- Size XL -->
                            <input type="radio" class="btn-check" name="size{{ product.id }}" id="sizeXL{{ product.id }}" value="{{ product.size_XL }}" >
                            <label class="btn btn-outline-primary" for="sizeXL{{ product.id }}">XL</label>
                          </div>
                          </div>

                          <div class="mb-3">
                            <label class="form-label">Màu sắc</label>
                            <div class="d-flex gap-2">
                              {% for color in product.color_list %}
                                <input type="radio" class="btn-check"
                                      name="color{{ product.id }}"
                                      id="color{{ color.id }}{{ product.id }}"
                                      value="{{ color.id }}"
                                      {% if not color.has_stock %}disabled{% endif %}
                                      {% if forloop.first %}checked{% endif %}>
                                <label 
                                  class="rounded-circle border border-2 color-option"
                                  style="
                                    width: 30px; 
                                    height: 30px; 
                                    background-color: {{ color.code }}; 
                                    cursor: pointer;
                                    {% if not color.has_stock %} opacity: 0.4; {% endif %}
                                  "
                                  for="color{{ color.id }}{{ product.id }}"
                                  title="{{ color.name }}">
                                </label>
                              {% endfor %}
                            </div>
                          </div>
                      </div>
                      
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                      <button type="button" class="btn btn-primary update-cart" data-product="{{ product.id }}" data-action="add" data-bs-dismiss="modal" data-area="all">Thêm</button>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
              {# 2) Chèn ô trống #}
              {% for _ in blanks_all %}
                <div class="col"><!-- placeholder: để giữ đúng khoảng trống --></div>
              {% endfor %}
              </div>
              
            {% comment %} phan trang {% endcomment %}
            {% if page_obj_all.has_other_pages %}
            <nav aria-label="page navigation">
              <ul class="pagination justify-content-center mt-4">
                {% if page_obj_all.has_previous %}
                  <li class="page-item">
                    <a class="page-link" href="?page_all={{page_obj_all.previous_page_number}}">&laquo;</a>
                  </li>
                {% else %}
                  <li class="page-item disabled">
                    <span class="page-link">&laquo;</span>
                  </li>
            
            {% endif %}

            {% comment %} so trang {% endcomment %}
            {% for num in page_obj_all.paginator.page_range %}
                {% if page_obj_all.number == num %}
                  <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                {% elif num >= page_obj_all.number|add:'-2' and num <= page_obj_all.number|add:'2' %}
                  <li class="page-item">
                    <a class="page-link" href="?page_all={{ num }}">{{ num }}</a>
                  </li>
                {% endif %}
              {% endfor %}
            
            {% if page_obj_all.has_next %}
                <li class="page-item">
                  <a class="page-link" href="?page_all={{ page_obj_all.next_page_number }}">&raquo;</a>
                </li>
              {% else %}
                <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
              {% endif %}
            </ul>
          </nav>
          {% endif %}
      </div>

        <br/><br/><br/> 
        <script>
          function showProducts(category) {
            document.querySelectorAll('.product-list').forEach(el => el.classList.remove('active'));
            document.getElementById(category).classList.add('active');
        
            document.getElementById('tab-new').classList.remove('active');
            document.getElementById('tab-2024').classList.remove('active');
            if (category === 'new') {
              document.getElementById('tab-new').classList.add('active');
            } else {
              document.getElementById('tab-2024').classList.add('active');
            }
          }
        </script>
        <script>
          document.addEventListener('DOMContentLoaded', function(){
            const params = new URLSearchParams(window.location.search);
              if (params.has('page_2024')) {
                showProducts('2024');
              } else if (params.has('page_new')) {
                showProducts('new');
              }
          });
        </script>
        <script src="{% static 'app/js/cart_home.js' %}" ></script>
      </div>
  {% endblock main_content %}
      
    
</body>
</html>